#view_main {
    overflow-y: scroll;
    margin-bottom: 50px;
}
.none{
    display:none;
}
.txt-login {
    height: 52px;
    line-height: 52px;
    margin: 0;
    padding-right: 10px;
    span {
        cursor: pointer;
    }
}
.dialog_bg{
    background: #444444;
    opacity: 0.6;
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: 9991;
}
.dialog{
    width: 500px;
    background: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 36%;
    z-index: 9999;
}
#login-panel{
    margin-bottom: 0px;
}
.orange{
    color: #E5A72C;
}
.sm{
    font-size:11px;
}
.single-song-row {
    height: 35px;
    line-height: 35px;
    div{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.single-song-row:nth-child(2n){
    background-color: #f7f7f7;
}
.single-song-row:nth-child(2n+1){
    background-color: #FFFFFF;
}
.singer-panel{
    ul{

    }
}
.singer-li{
    float: left;
    display: inline-block;
    overflow: hidden;
    line-height: 1.4;
    margin: 10px;
}
#list-length{
    margin-left: 10px;
    font-size: 14px;
}
.u-cover-5 {
    width: 145px;
    height: 145px;
}
.u-cover {
    position: relative;
    display: block;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
.singer-name{
    font-size: 12px;
    position: relative;
    top: 5px;
    white-space: nowrap;
    width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.album-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.singer-bg{
    background-image: url("../images/icons/loading.png");
    background-size: 100%;
}
/*播放器*/
.bg-dark{
    position: fixed;
    z-index: 99;
    left: 0px;
    bottom: 0;
}
.jp-gui{
    width: 86%;
    float: right;
}
.jp-detail{
    float: left;
    width: 14%;
}
/*播放页面*/
.needle{
    height: 130px;
    img{
        height: 100%;
        transform: rotate(-39deg);
        transform-origin: 13px 13px 0px;
        top: -11px;
        position: relative;
        transition-property: transform;
        transition-duration: 0.3s;
        left: 106px;
        z-index: 9;
    }
}
//唱针滑动
.needle-move{
    transform: rotate(-14deg) !important;
}
.disc-box{
    position: relative;
    top: -94px;
    width: 265px;
    height: 265px;
    .disc {
        height: 100%;
        width: 100%;
        background-image: url(../images/icons/play_disc.png);
        background-size: 100%;
        img{
            width: 100%;
            padding: 43px;
            border-radius: 50%;
        }
    }
}
.start-rotate{
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-fill-mode:forwards;
}
@keyframes rotate
{
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.song-name{
    font-size: 20px;
    margin-top: 17px;
    color: #333;
}
.song-info{
    a{
        color: #428bca;
    }
    span{
        margin-right:20px;
    }
}

/*歌词*/
#lrc{
    height: 400px;
    overflow-y: scroll;
    ul{
        list-style:none;
        padding:0px;
        li{
            line-height:25px;
        }
    }
}
#jp-singer,#jp-name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
