<div class="container">
    <section class="panel panel-default" style="height: 468px;margin-bottom:0px;overflow-y: scroll;">
        <header class="panel-heading">Chat</header>
        <section class="chat-list panel-body">
            <article id="chat-id-1" class="chat-item left">
                <a href="#" class="pull-left thumb-sm avatar"><img src="images/a2.png" alt="..."></a>
                <section class="chat-body">
                    <div class="panel b-light text-sm m-b-none">
                        <div class="panel-body">
                            <span class="arrow left"></span>
                            <p class="m-b-none">Hi John, What's up...</p>
                        </div>
                    </div>
                    <small class="text-muted"><i class="fa fa-ok text-success"></i> 2 minutes ago</small>
                </section>
            </article>
            <article id="chat-id-2" class="chat-item right">
                <a href="#" class="pull-right thumb-sm avatar"><img src="images/a3.png" class="img-circle" alt="..."></a>
                <section class="chat-body">
                    <div class="panel bg-light text-sm m-b-none">
                        <div class="panel-body">
                            <span class="arrow right"></span>
                            <p class="m-b-none">Lorem ipsum dolor sit amet, conse <br>adipiscing eli...<br>:)</p>
                        </div>
                    </div>
                    <small class="text-muted">1 minutes ago</small>
                </section>
            </article>
        </section>

    </section>
    <footer class="panel-footer" style="position: fixed;bottom: 70px;width: 1140px;">
        <!-- chat form -->
        <article class="chat-item" id="chat-form">
            <a class="pull-left thumb-sm avatar"><img src="images/a3.png" class="img-circle" alt="..."></a>
            <section class="chat-body">
                <form action="index.html" class="m-b-none">
                    <div class="input-group">
                        <input class="form-control" placeholder="Say something" type="text">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">SEND</button>
                                  </span>
                    </div>
                </form>
            </section>
        </article>
    </footer>
</div>
<script src="lib/chat.js"></script>