<div class="dialog">
    <section class="panel panel-default" id="login-panel">
        <header class="panel-heading font-bold">
            欢迎登录 优易乐坊
            <i class="icon-close" style='float:right;cursor: pointer;'></i>
        </header>
        <div class="panel-body" id="login-dia">
            <form role="form">
                <div class="form-group">
                    <label>Email/手机号</label>
                    <input class="form-control" placeholder="输入Email或手机号" type="text" v-model="ep" v-on:blur="verifyEP">
                    <small class="orange sm none" id="ep-error">
                        <i class="fa fa-warning" style="margin-right: 5px;"></i>
                        <span v-text="ep_error"></span>
                    </small>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input class="form-control" placeholder="密码" type="password" v-model="pwd" v-on:blur="verifyEP">
                    <small class="orange sm none" id="pwd-error">
                        <i class="fa fa-warning" style="margin-right: 5px;"></i>
                        <span  v-text="pwd_error"></span>
                    </small>
                </div>
                <div class="checkbox i-checks">
                    <label>
                        <input checked="" type="checkbox"><i></i> 保持登录状态
                    </label>
                </div>
                <button type="submit" id='login-submit' class="btn btn-block btn-primary" v-on:click="loginSubmit">登录</button>
            </form>
        </div>
    </section>
</div>
<div class="dialog_bg">

</div>
<script>
    seajs.use(['url', 'vue.min', 'storage', 'verify'], function(url, Vue, Storage, verify) {
        var storage = new Storage();
        var closeDialog = function() {
            $('.dialog_bg').fadeOut(400);
            $('.dialog').fadeOut(200);
            setTimeout(function() {
                $('.dialog,.dialog_bg').remove();
            }, 500)
        };

        var loginDia = new Vue({
            el: "#login-dia",
            data: {
                ep: "",
                pwd: "",
                ep_error: '',
                pwd_error: ""
            },
            methods: {
                loginSubmit: function() {
                    //手机正则

                    var regPhone = /^1[34578]\d{9}$/;
                    //email
                    var regEmail = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
                    var ep = this.ep;
                    var loginInfo = {};
                    if (regEmail.test(ep)) {
                        loginInfo.email = ep;
                        loginInfo.phone = "";
                    } else if (regPhone.test(ep)) {
                        loginInfo.phone = ep;
                        loginInfo.email = "";
                    }
                    loginInfo.pwd = this.pwd;
                    console.log(loginInfo);
                    $.ajax({
                        url: url.get('u_login'),
                        type: "GET",
                        data: loginInfo,
                        success: function(res) {
                            //登录成功
                            if (res.status === "1" || res.status === '2') {
                                storage.setItem("u_t", res.data_set);
                                closeDialog();
                                $("#id-btns").hide();
                                $("#user-info").show();
                                var userInfo = new Vue({
                                    el: "#user-info",
                                    data: {
                                        nick_name: res.data_set.nick_name
                                    }
                                });
                            }
                            //登录失败
                            else if (res.status === '0') {
                                alert(res.msg);
                            }
                        }
                    });

                },
                verifyEP: function() {
                    var ep = this.ep;
                    var pwd = this.pwd;
                    if (!verify.v_phoneNum(ep) && !verify.v_email(ep)) {
                        this.ep_error = "请填写正确的手机号或邮箱";
                        $('#ep-error').removeClass('none');
                        $('#login-submit').attr('disabled', 'disabled');
                        return false;
                    } else if ((verify.v_phoneNum(ep) || verify.v_email(ep)) && pwd.length === 0) {
                        $('#ep-error').addClass('none');
                        this.pwd_error = "请输入密码";
                        $('#pwd-error').removeClass('none');
                        $('#login-submit').attr('disabled', 'disabled');
                        return false;
                    } else {
                        $('#pwd-error').addClass('none');
                        $('#ep-error').addClass('none');
                        $('#login-submit').removeAttr('disabled');
                        return true;
                    }
                }

            }
        });


        $(document).on('click', '.icon-close,.dialog_bg', function() {
            closeDialog();
        });
    });

</script>
