<section class="panel panel-default">
    <header class="panel-heading bg-light">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#single-song-panel" data-toggle="tab" id="single-song-tab">单曲</a></li>
            <li class=""><a href="#singer-panel" data-toggle="tab" id="singer-tab">歌手</a></li>
            <li><a href="#album-panel" data-toggle="tab" id="album-tab">专辑</a></li>
            <!--<li><a href="#settings" data-toggle="tab">主播电台</a></li>-->
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active" id="single-song-panel">
                <div class="container">
                    <div class="loading-icon" id="loading-song">
                        <span class="pulse-loader">Loading…</span>
                        <p class="loading-txt">玩儿命加载中...</p>
                    </div>
                    <div class="row title-row">
                        <div class="col-md-3 col-sm-3">
                            歌名
                        </div>
                        <div class="col-md-2 col-sm-2">
                            操作
                        </div>
                        <div class="col-md-2 col-sm-2">
                            歌手
                        </div>
                        <div class="col-md-3 col-sm-3">
                            专辑
                        </div>
                        <div class="col-md-2 col-sm-2">
                            时长
                        </div>
                    </div>
                    <div class="row single-song-row" style="display: none;" v-for="i in songs" v-if="i.audition.name">
                        <div class="col-md-3 col-sm-3">

                            <a href="javascript:void(0)" class='title-a' data-songId="{{i.id}}">
                                <i class="fa fa-play-circle-o play-icon" data-songId="{{i.id}}"></i>
                                <span v-text="i.audition.name"></span>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <i class="fa  fa-plus-square-o"  data-songId="{{i.id}}"></i>
                            &nbsp;
                            <i class="fa fa-folder-o"  data-songId="{{i.id}}"></i>
                        </div>
                        <div class="col-md-2 col-sm-2" data-singerId="i.artists[0].id">
                            <a v-text="i.artists[0].name" href="javascript:void(0)"  onclick="window.location.hash='#/artist?id={{i.artists[0].id}}'"></a>
                        </div>
                        <div class="col-md-3 col-sm-3 album-name">
                            <a v-text="i.album.name" href="javascript:void(0)"  onclick="window.location.hash='#/album?id={{i.album.id}}'"></a>
                        </div>
                        <div class="col-md-2 col-sm-2" v-text="i.bMusic.playTime | msToMin"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="singer-panel">
                <div class="loading-icon" id="loading-singer">
                    <span class="pulse-loader">Loading…</span>
                    <p class="loading-txt">玩儿命加载中...</p>
                </div>
                <div id="singer-show">
                    <p style="padding-left: 50px;">找到<span style="color:#F41616;" v-text="count"></span>位歌手</p>
                    <ul>
                        <li class="singer-li" v-for="i in artists">
                            <div class="u-cover u-cover-5 singer-bg">
                                <a href="/artist?id={{i.id}}">
                                    <img :src="i.img1v1Url">
                                    <span title="{{i.name}}" class="msk"></span>
                                </a>
                            </div>
                            <p class="singer-name">
                                <a class="nm f-thide s-fc0" href="/artist?id={{i.id}}" title="{{i.name}}" v-text="i.name"></a>
                                <span v-text="'('+i.trans+')'" v-show="i.trans"></span>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane" id="album-panel">
                <div class="loading-icon" id="loading-album">
                    <span class="pulse-loader">Loading…</span>
                    <p class="loading-txt">玩儿命加载中...</p>
                </div>
                <div class="album" style="display: none;" onclick="window.location='#/album?id={{i.id}}'" v-for="i in albums">
                    <div class="album-bg">
                        <img src="{{i.picUrl}}"  alt="">
                    </div>
                    <p class="album-name-panel" v-text="i.name"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    seajs.use(['vue.min','xhr','url',"filter"],function(Vue,xhr,url,filter){
        filter.msToMin();
        //转化成正常时间字符串
        function msTomin(val){
            var time=new Date(val);
            var min=time.getMinutes();
            var s=time.getSeconds();
            if(min<10){
                min="0"+min.toString();
            }
            if(s<10){
                s= "0"+ s.toString();
            }
            return min.toString()+":"+ s.toString();
        }
        var SearchRes=function(){

        };
        SearchRes.prototype.singleSong=function(callback){
            var query={};
            query.s=xhr.getSearch(location.hash).s;
            query.type=xhr.getSearch(location.hash).type;
            query.limit=50;
            query.offset=0;
            $.ajax({
                url:url.get('u_search')+"?s="+query.s+"&type="+query.type+"&limit="+query.limit+"&offset="+query.offset,
                type:"GET",
                //data:query,
                success:function(res){
                    $('#loading-song').hide();
                    $('.single-song-row').show();
                    callback(res.result);
                },
                error:function(e){
                    console.log(e);
                }
            });

        };

        SearchRes.prototype.singleSongList=function(res){
            var v_search=new Vue({
                el:"#single-song-panel",
                data:{
                    songs:res.songs,
                    songCount:res.songCount
                }
            });
            $('.title-a').bind('click',function(){
                $('.title-a').css('color','#788188');
                $(this).css('color','#F05050');
                var song_id=$(this).attr('data-songId');
                $.ajax({
                    url:url.get('u_song'),
                    type:"GET",
                    data:{
                        id:song_id,
                        ids:"["+song_id+"]"
                    },
                    success:function(res){
                        var song=res.songs[0];
                        var item = {
                            "song_id": song_id,
                            'singer_name': song.artists[0].name,
                            'singer_pic': song.album.picUrl,
                            'song_name':song.name,
                            "duration": msTomin(song.audition.playTime),
                            "suffix": "mp3",
                            "url": song.mp3Url,
                            "type": 0,
                            "singer_id":song.artists[0].id
                        };
                        var flag=pl.addItem(item);
//                        if(flag){
                            var listLen=$('#playlist li').length;
                            $("#list-length").html(listLen);
                            myPlaylist.playlist.map(function(val,index){
                                if(val.id===song_id){
                                    myPlaylist.play(index);
                                }
                            });
//                        };
                        //location.hash='#/song?id='+song_id;
                    }
                });
            });
            $('.play-icon').bind('click',function(){
                $('.play-icon').css('color','#788188');
                $(this).css('color','#F05050');
                var song_id=$(this).attr('data-songId');
                $.ajax({
                    url:url.get('u_song'),
                    type:"GET",
                    data:{
                        id:song_id,
                        ids:"["+song_id+"]"
                    },
                    success:function(res){
                        var song=res.songs[0];
                        var item = {
                            "song_id": song_id,
                            'singer_name': song.artists[0].name,
                            'singer_pic': song.album.picUrl,
                            'song_name':song.name,
                            "duration": msTomin(song.audition.playTime),
                            "suffix": "mp3",
                            "url": song.mp3Url,
                            "type": 0
                        };
                        var flag=pl.addItem(item);
                       if(flag){
                           var listLen=$('#playlist li').length;
                           $("#list-length").html(listLen);
                           myPlaylist.playlist.map(function(val,index){
                               if(val.id===song_id){
                                   myPlaylist.play(index);
                               }
                           });
                       };

                    }
                });
            });
        };

        SearchRes.prototype.singer=function(callback){
            var query={};
            query.s=xhr.getSearch(location.hash).s;
            query.type=100;
            query.limit=49;
            query.offset=0;
            $('#singer-tab').bind('click',function(){
                $.ajax({
                    url:url.get('u_search')+"?s="+query.s+"&type="+query.type+"&limit="+query.limit+"&offset="+query.offset,
                    type:"GET",
                    //data:query,
                    success:function(res){
                        $('#loading-singer').hide();
                        $('#singer-show').show();
                        callback(res.result);
                    },
                    error:function(e){
                        console.log(e);
                    }
                });
            });
        };

        SearchRes.prototype.singerList=function(res){
            var v_singerList=new Vue({
                el:"#singer-panel",
                data:{
                    count:res.artistCount,
                    artists:res.artists
                }
            });
        };
        SearchRes.prototype.album=function(callback){
            var query={};
            query.s=xhr.getSearch(location.hash).s;
            query.type=10;
            query.limit=49;
            query.offset=0;
            $('#album-tab').bind('click',function(){
                $.ajax({
                    url:url.get('u_search')+"?s="+query.s+"&type="+query.type+"&limit="+query.limit+"&offset="+query.offset,
                    type:"GET",
                    //data:query,
                    success:function(res){
                        $('#loading-album').hide();
                        $('.album').show();
                        var vue_Album=new Vue({
                            el:"#album-panel",
                            data:res.result
                        });
                    },
                    error:function(e){
                        console.log(e);
                    }
                });
            });
        };

        var searchRes=new SearchRes();
        searchRes.singleSong(searchRes.singleSongList);
        searchRes.singer(searchRes.singerList);
        searchRes.album();
    });


</script>